/************************************
***** BASE 
************************************/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800&amp;display=swap"); */
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
} */

a,
a:link,
a:active {
  text-decoration: none;
  outline: none;
  border: 0;
}

ul,
li,
ol,
input,
form,
select,
textarea,
section,
article,
span,
button,
p,
.form-control {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: none;
  outline: none;
  border: 0;
  box-shadow: none;
}

:focus,
:visited,
:active {
  outline: none;
  border: 0;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.bg-color-1 {
  background-color: #0084ff;
}

.bg-color-2 {
  background-color: #25e067;
}

.bg-color-3 {
  background-color: #ff4a00;
}

.bg-light {
  background-color: #f9f9f9;
}

.text-primary-color {
  color: #e02544;
}

.text-secondary-color {
  color: #232227;
}

/************************************
***** TYPOGRAPHY 
************************************/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

/************************************
***** COMPONENTS 
************************************/
.btn-default {
  display: block;
  width: max-content;
  color: #fff;
  height: 60px;
  padding: 0 30px;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  position: relative;
}
.btn-default__icon-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-default__icon-animation i {
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.btn-default__icon-animation i:first-child {
  opacity: 0;
}
.btn-default__icon-animation:hover i:first-child {
  opacity: 1;
  margin-left: 5px;
}
.btn-default__white-static {
  background-color: #fff;
  color: #e02544;
  padding: 0;
  width: 60px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
@media only screen and (max-width: 992px) {
  .btn-default__white-static {
    width: 40px;
    height: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.btn-default__white-static:hover,
.btn-default__white-static.active {
  background-color: #232227;
  color: #fff;
}
.btn-default__white {
  background-color: #fff;
  color: #e02544;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.btn-default__white:hover,
.btn-default__white.active {
  background-color: #232227;
  color: #fff;
}
.btn-default__primary {
  background-color: #e02544;
}
.btn-default__primary::after {
  content: "Go !";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #bd213b;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  position: absolute;
  left: 100%;
  top: 0;
}
.btn-default__primary:hover::after,
.btn-default__primary.active::after {
  left: 0;
}
.btn-default__primary:hover {
  color: #fff;
}

/************************************
***** LAYOUT 
************************************/
.navigation-top {
  background-color: #232227;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.navigation-top__left ul {
  display: flex;
}
.navigation-top__left ul li {
  color: #fff;
}
.navigation-top__left ul li:not(:last-child) {
  margin-right: 30px;
}
.navigation-top__left ul li i {
  margin-right: 20px;
}
.navigation-top__right ul {
  display: flex;
  justify-content: flex-end;
}
.navigation-top__right ul li:not(:last-child) {
  margin-right: 10px;
}
.navigation-top__right ul li a {
  color: #fff;
  border: 1px solid #fff;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.navigation-top__right ul li a:hover {
  background-color: #fff;
  color: #232227;
}

@media only screen and (max-width: 992px) {
  .navigation .fixed-top__effect {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 201;
  }
}

.navigation-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(35, 34, 39, 0.1);
  transition: 600ms all;
  -webkit-transition: 600ms all;
  -moz-transition: 600ms all;
  -ms-transition: 600ms all;
  -o-transition: 600ms all;
}
@media only screen and (max-width: 992px) {
  .navigation-bottom {
    padding: 15px 0;
  }
}
.navigation-bottom__logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.navigation-bottom__logo img {
  height: 60px;
  margin-right: 15px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
@media only screen and (max-width: 992px) {
  .navigation-bottom__logo img {
    height: 40px;
  }
}
.navigation-bottom__mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bottom__mobile-button i {
  font-size: 20px;
}
.navigation-bottom__menu {
  height: 100%;
  position: relative;
}
.navigation-bottom__menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .navigation-bottom__menu ul {
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 202;
    background-color: #fff;
    align-items: flex-start;
    width: 220px;
    height: auto;
    padding: 30px;
    box-shadow: 0 0 30px rgba(35, 34, 39, 0.1);
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    opacity: 0;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
  }
}
.navigation-bottom__menu ul.active {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.navigation-bottom__menu ul li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .navigation-bottom__menu ul li {
    margin-bottom: 15px;
  }
}
.navigation-bottom__menu ul li a {
  color: #232227;
  display: block;
  font-size: 16px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  padding: 0 12px;
}
.navigation-bottom__menu ul li a i {
  font-size: 11px;
  margin-left: 5px;
}
.navigation-bottom__menu ul li a:hover,
.navigation-bottom__menu ul li a.active {
  color: #e02544;
}
.navigation-bottom__menu ul li ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(35, 34, 39, 0.1);
  width: 220px;
  height: max-content;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
@media only screen and (max-width: 992px) {
  .navigation-bottom__menu ul li ul {
    left: -220%;
    top: -70%;
  }
}
@media only screen and (max-width: 992px) {
  .navigation-bottom__menu ul li ul li {
    margin-bottom: 0px;
  }
}
.navigation-bottom__menu ul li ul li a {
  color: #232227;
  padding: 10px 0;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.navigation-bottom__menu ul li ul li a:hover,
.navigation-bottom__menu ul li ul li a.active {
  padding: 10px;
}
.navigation-bottom__menu ul li:hover ul {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  pointer-events: visible;
}
.navigation-bottom__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header-slider__item {
  max-height: 800px;
  position: relative;
  background-color: #232227;
}
@media only screen and (max-width: 992px) {
  .header-slider__item {
    height: 500px;
  }
}
.header-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  opacity: 0.5;
}
.header-slider__item .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.header-slider__item .overlay p {
  margin-bottom: 10px;
}
.header-slider__item .overlay h1 {
  margin-bottom: 30px;
}

.header-slider .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  margin: 0;
  background-color: rgba(224, 37, 68, 0.4);
  z-index: 100;
  width: 100%;
}
.header-slider .owl-nav .owl-next,
.header-slider .owl-nav .owl-prev {
  outline: none;
  position: absolute;
  top: 50%;
  margin: 0;
}
.header-slider .owl-nav .owl-next i,
.header-slider .owl-nav .owl-prev i {
  font-size: 30px;
  color: #fff;
  background-color: #e02544;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header-slider .owl-nav [class*="owl-"]:hover {
  background: none;
}
.header-slider .owl-nav .owl-next {
  right: 5%;
}
.header-slider .owl-nav .owl-prev {
  left: 5%;
}

.page-title {
  margin-bottom: 80px;
}
@media only screen and (max-width: 992px) {
  .page-title {
    margin-bottom: 60px;
  }
}
.page-title__light h2 {
  color: #fff;
}
.page-title h2 {
  text-align: center;
  position: relative;
}
.page-title .line {
  width: 30px;
  height: 5px;
  background-color: #e02544;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  margin: 30px auto;
}
.page-title .line-light {
  background-color: #fff;
}
.page-title .line:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: inherit;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -30%;
  bottom: 0;
}

.support {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .support {
    padding: 60px 0;
  }
}
.support-item {
  height: 300px;
  padding: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .support-item {
    margin-bottom: 30px;
  }
}
.support-item h3 {
  margin-bottom: 20px;
  text-align: center;
}
.support-item p {
  margin-bottom: 20px;
  text-align: center;
}

.mission {
  padding: 100px 0;
  display: flex;
  align-items: stretch;
}
@media only screen and (max-width: 992px) {
  .mission {
    padding: 60px 0;
    flex-wrap: wrap;
  }
}
.mission-left {
  width: 60%;
  margin-right: 60px;
  position: relative;
}
@media only screen and (max-width: 992px) {
  .mission-left {
    width: 100%;
    margin-bottom: 60px;
  }
}
.mission-left::after {
  content: "";
  display: block;
  width: 70%;
  height: 75%;
  background: rgba(224, 37, 68, 0.8);
  position: absolute;
  right: 0%;
  top: 12%;
  z-index: 199;
  -webkit-clip-path: polygon(0 0, 100% 0, 61% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 61% 100%, 0% 100%);
}
.mission-left__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 200;
  -webkit-clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
}
.mission-left__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission-right__title {
  margin-bottom: 60px;
}
.mission-right__title .line {
  width: 30px;
  height: 5px;
  background-color: #e02544;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.mission-right__title .line:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #e02544;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -30%;
  bottom: 0;
}
.mission-right__title h3 {
  margin-bottom: 20px;
}
.mission-right__item {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-start;
}
.mission-right__item-icon {
  width: 25%;
  margin-right: 30px;
}
.mission-right__item-icon i {
  font-size: 18px;
  color: #232227;
  width: 80px;
  height: 80px;
  border: 2px solid #232227;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.mission-right__item-icon i:hover {
  background-color: #e02544;
  color: #fff;
}
.mission-right__item h4 {
  margin-bottom: 15px;
}

.donating {
  overflow: hidden;
  background-color: #232227;
  position: relative;
  width: 100%;
  height: 600px;
}
.donating img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}
.donating .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: max-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.donating .overlay i.fa-phone-alt {
  font-size: 18px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.donating .overlay h4 {
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.donating .overlay p {
  font-size: 48px;
  letter-spacing: 0.1rem;
  font-weight: 100;
  margin-bottom: 40px;
}
.donating .overlay .overlay-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donating .overlay .overlay-info ul {
  display: flex;
}
.donating .overlay .overlay-info ul li:not(:last-child) {
  margin-right: 30px;
}
.donating .overlay .overlay-info ul li a {
  color: #fff;
}
.donating .overlay .overlay-info ul li a i {
  margin-right: 15px;
}

.causes {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .causes {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 992px) {
  .causes-item {
    margin-bottom: 30px;
  }
}
.causes-item__img {
  width: 100%;
  height: 300px;
}
.causes-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.causes-item__body {
  padding: 30px;
  background-color: #f9f9f9;
}
.causes-item__body p.goal {
  margin-bottom: 20px;
}
.causes-item__body p.raised span,
.causes-item__body p.goal span {
  color: #e02544;
  font-weight: 500;
  margin-right: 15px;
}
.causes-item__body h3 {
  margin-bottom: 20px;
}
.causes-item__body-button {
  display: flex;
  align-items: center;
}
.causes-item__body-button a:first-child {
  margin-right: 20px;
}

.say {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/Other/06.jpg") no-repeat;
  padding: 100px 0;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .say {
    padding: 60px 0;
  }
}
.say-slider {
  color: #fff;
}
.say-slider__item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
  margin-left: 9px;
}
.say-slider__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.say-slider__item-body {
  padding: 40px;
  background-color: #fff;
  color: #232227;
  margin-bottom: 40px;
  position: relative;
  border-top: 2px solid #ff4a00;
}
.say-slider__item-body p {
  font-size: 16px;
}
.say-slider__item-body::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border: 10px solid transparent;
  border-top-color: #fff;
  position: absolute;
  top: 100%;
}

.events {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .events {
    padding: 60px 0;
  }
}
.events-item {
  border: 1px solid rgba(35, 34, 39, 0.1);
  display: flex;
  align-items: center;
  padding: 40px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.events-item:not(:last-child) {
  margin-bottom: 40px;
}
@media only screen and (max-width: 992px) {
  .events-item {
    flex-wrap: wrap;
  }
}
.events-item:hover {
  border: 1px solid rgba(35, 34, 39, 0.5);
}
.events-item .date {
  background-color: #e02544;
  padding: 20px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-right: auto;
}
@media only screen and (max-width: 992px) {
  .events-item .date {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}
.events-item h3 {
  margin-right: 40px;
}
.events-item nav.info {
  margin-left: auto;
}
@media only screen and (max-width: 992px) {
  .events-item nav.info {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .events-item nav.info {
    margin-bottom: 30px;
  }
}
.events-item nav.info ul {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .events-item nav.info ul {
    flex-wrap: wrap;
  }
}
.events-item nav.info ul li a {
  color: #232227;
  margin-right: 30px;
}
.events-item nav.info ul li a i {
  margin-right: 15px;
}

.counter {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .counter {
    padding: 60px 0;
  }
}
.counter-list__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .counter-list__item {
    margin-bottom: 60px;
  }
}
.counter-list__item i {
  font-size: 36px;
  margin-bottom: 30px;
}
.counter-list__item h2 {
  margin-bottom: 20px;
  font-weight: 200;
  letter-spacing: 0.1;
}
.counter-list__item p {
  text-transform: uppercase;
  font-size: 16px;
}

.should-img {
  height: 600px;
  overflow: hidden;
}
.should-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.should-text {
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .should-text {
    padding: 60px 0;
    width: 94%;
  }
}
.should-text h2 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  .should-text h2 {
    text-align: center;
  }
}
.should-text p {
  margin-bottom: 40px;
}
@media only screen and (max-width: 992px) {
  .should-text p {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .should-text a {
    margin: auto;
  }
}

.welcome {
  background-color: #e02544;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .welcome {
    padding: 60px 10px;
  }
}
.welcome h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.welcome h2 {
  text-align: center;
  color: #232227;
  margin-bottom: 20px;
}
.welcome p {
  text-align: center;
  color: #232227;
  margin-bottom: 40px;
}
.welcome-text__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  background-color: #f9f9f9;
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .blog {
    padding: 60px 0;
  }
}
.blog-item {
  margin-bottom: 30px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.blog-item__img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.blog-item__img .date {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #e02544;
  padding: 10px 15px;
  color: #fff;
}
.blog-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item__body {
  background-color: #fff;
  padding: 40px;
}
.blog-item__body h3 {
  margin-bottom: 20px;
}
.blog-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.blog-item__pagination nav ul {
  display: flex;
}
.blog-item__pagination nav ul li:not(:last-child) {
  margin-right: 10px;
}

.footer {
  background-image: linear-gradient(
    120deg,
    rgba(224, 37, 68, 0.9) 0%,
    rgba(224, 37, 68, 0.9) 50%,
    #232227 50%
  );
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .footer {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 992px) {
  .footer-company {
    margin-bottom: 40px;
  }
}
.footer-company h3 {
  color: #fff;
  margin-bottom: 30px;
}
.footer-company p {
  color: #ddd;
  line-height: 2;
}
@media only screen and (max-width: 992px) {
  .footer-links {
    margin-bottom: 40px;
  }
}
.footer-links h3 {
  color: #fff;
  margin-bottom: 30px;
}
.footer-links nav ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-links nav ul li a {
  color: #ddd;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.footer-links nav ul li a:hover {
  margin-left: 5px;
  color: #232227;
}
@media only screen and (max-width: 992px) {
  .footer-latest-news {
    margin-bottom: 40px;
  }
}
.footer-latest-news h3 {
  color: #fff;
  margin-bottom: 30px;
}
.footer-latest-news__item {
  display: flex;
  color: #fff;
  align-items: center;
  margin-bottom: 30px;
}
.footer-latest-news__item-img {
  width: 80px;
  height: 60px;
  overflow: hidden;
  margin-right: 30px;
}
.footer-latest-news__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .footer-newsletter {
    margin-bottom: 40px;
  }
}
.footer-newsletter h3 {
  color: #fff;
  margin-bottom: 30px;
}
.footer-newsletter__form input {
  background-color: #fff;
  color: #232227;
  height: 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  padding: 0 40px;
  margin-bottom: 20px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .footer .copyright {
    margin-bottom: 30px;
  }
}
.footer .copyright p {
  color: #ddd;
}
.footer nav.copyright-social {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 992px) {
  .footer nav.copyright-social {
    justify-content: flex-start;
  }
}
.footer nav.copyright-social ul {
  display: flex;
}
.footer nav.copyright-social ul li:not(:last-child) {
  margin-right: 15px;
}
.footer nav.copyright-social ul li a {
  color: #fff;
  font-size: 13px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.footer nav.copyright-social ul li a:hover {
  background-color: #fff;
  color: #232227;
}

/************************************
***** PAGES 
************************************/
.pages-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #232227;
}
.pages-img img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pages-img .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.pages-img .overlay h1 {
  color: #fff;
  text-align: center;
}
.pages-img .overlay p {
  color: #fff;
  text-align: center;
}

.who-help-us {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .who-help-us {
    padding: 60px 0;
  }
}
.who-help-us__item-img {
  width: 100%;
  overflow: hidden;
}
.who-help-us__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.volunter {
  background-color: #f9f9f9;
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .volunter {
    padding: 60px 0;
  }
}
.volunter-info {
  background-color: #fff;
  padding: 40px;
}
.volunter-info__item:not(:last-child) {
  margin-bottom: 40px;
}
.volunter-info__item h3 {
  margin-bottom: 30px;
}
.volunter-info__item p {
  margin-bottom: 15px;
}
.volunter-info__item p span {
  font-weight: 500;
  margin-right: 15px;
}
.volunter-info__item img {
  width: 100px;
}
.volunter-item {
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  margin-bottom: 30px;
}
.volunter-item__img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: #e02544;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.volunter-item__img nav {
  position: absolute;
  right: -100px;
  bottom: 30px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  opacity: 0;
}
.volunter-item__img nav ul {
  display: flex;
}
.volunter-item__img nav ul li:not(:last-child) {
  margin-right: 15px;
}
.volunter-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.volunter-item__body {
  background-color: #fff;
  padding: 40px;
}
.volunter-item__body h3 {
  margin-bottom: 20px;
  color: #232227;
}
.volunter-item__body a:hover h3 {
  color: #e02544;
}
.volunter-item:hover .volunter-item__img nav {
  opacity: 1;
  right: 40px;
}
.volunter-item:hover .volunter-item__img img {
  opacity: 0.5;
}
.volunter-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.events-page {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .events-page {
    padding: 60px 0;
  }
}
.events-page-item {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 40px;
}
.events-page-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events-page-item__body {
  margin-bottom: 60px;
}
.events-page-item__body h3 {
  margin-bottom: 20px;
}
.events-page-item__title {
  margin-bottom: 60px;
}
.events-page-item__title h3 {
  margin-bottom: 10px;
}
.events-page-item__title nav ul {
  display: flex;
  align-items: center;
}
.events-page-item__title nav ul li:not(:last-child) {
  margin-right: 30px;
}
.events-page-item__title nav ul li a {
  color: #e02544;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.events-page-item__title nav ul li a:hover {
  color: #232227;
}
.events-page-item__title nav ul li a i {
  margin-right: 10px;
}
.events-page-item__comments {
  margin-bottom: 60px;
}
.events-page-item__comments h3 {
  margin-bottom: 30px;
}
.events-page-item__comments .item {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.events-page-item__comments .item-avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.events-page-item__comments .item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events-page-item__comments .item-text nav ul {
  display: flex;
}
.events-page-item__comments .item-text nav ul li {
  color: #ccc;
}
.events-page-item__comments .item-text nav ul li:not(:last-child) {
  margin-right: 30px;
}
.events-page-item__comments .item-text nav ul li a {
  color: #e02544;
}
.events-page-item__form {
  margin-bottom: 60px;
}
.events-page-item__form h3 {
  margin-bottom: 30px;
}
.events-page-item__form form input,
.events-page-item__form form textarea {
  border: 0;
  outline: 0;
  padding: 30px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.events-page-item__form form input:focus,
.events-page-item__form form textarea:focus {
  outline: 0;
}
.events-page-item__form form textarea {
  margin-bottom: 40px;
}
.events-page-sidebar {
  background-color: #f9f9f9;
  padding: 40px;
}
.events-page-sidebar__item:not(:last-child) {
  margin-bottom: 40px;
}
.events-page-sidebar__item form input {
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  padding: 20px 0;
}
.events-page-sidebar__item form input:focus,
.events-page-sidebar__item form input.active {
  padding: 20px 30px;
}
.events-page-sidebar__item nav.categories ul li:not(:last-child) {
  margin-bottom: 15px;
}
.events-page-sidebar__item nav.categories ul li a {
  color: #232227;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.events-page-sidebar__item nav.categories ul li a:hover {
  color: #e02544;
}
.events-page-sidebar__item h3 {
  margin-bottom: 30px;
}
.events-page-sidebar__item-support {
  display: flex;
  align-items: center;
}
.events-page-sidebar__item-support:not(:last-child) {
  margin-bottom: 30px;
}
.events-page-sidebar__item-support .img {
  width: 100px;
  height: 70px;
  overflow: hidden;
  margin-right: 20px;
}
.events-page-sidebar__item-support .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events-page-sidebar__item-support .text p.date {
  color: #e02544;
}

.faq-list {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .faq-list {
    padding: 60px 0;
  }
}
.faq-list__item {
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.faq-list__item:not(:last-child) {
  margin-bottom: 40px;
}
.faq-list__item-title {
  background-color: #f9f9f9;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.faq-list__item-title i {
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.faq-list__item-title:hover,
.faq-list__item-title.active {
  background-color: #232227;
  color: #fff;
}
.faq-list__item-title:hover i,
.faq-list__item-title.active i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.faq-list__item-body {
  padding: 30px;
  background-color: #e02544;
  color: #fff;
}

.gallery-page {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .gallery-page {
    padding: 60px 0;
  }
}
.gallery-page__filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}
.gallery-page__filter-button button:not(:last-child) {
  margin-right: 20px;
}
.gallery-page__item {
  margin-bottom: 30px;
}
.gallery-page__item-img {
  overflow: hidden;
  height: 400px;
  background-color: #232227;
}
.gallery-page__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.gallery-page__item-img:hover img {
  opacity: 0.5;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.what-we-do {
  background-color: #f9f9f9;
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .what-we-do {
    padding: 60px 0;
  }
}
.what-we-do-item {
  padding: 40px;
  background-color: #fff;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
@media only screen and (max-width: 992px) {
  .what-we-do-item {
    margin-bottom: 30px;
  }
}
.what-we-do-item > i {
  font-size: 36px;
  color: #e02544;
  margin-bottom: 40px;
}
.what-we-do-item h3 {
  margin-bottom: 30px;
}
.what-we-do-item:hover {
  box-shadow: 0 0 30px rgba(35, 34, 39, 0.1);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.donations {
  padding: 100px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  .donations {
    padding: 60px 0;
  }
}
.donations-left {
  width: 47%;
}
@media only screen and (max-width: 992px) {
  .donations-left {
    width: 100%;
  }
}
.donations-left__img {
  height: 100%;
  width: 100%;
}
.donations-left__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.donations-right {
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .donations-right {
    width: 100%;
  }
}
.donations-right__form {
  padding: 40px;
  background-color: #f9f9f9;
}
.donations-right__form h3 {
  margin-bottom: 40px;
}
.donations-right__form p {
  margin-bottom: 40px;
}
.donations-right__form form .input-radio {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.donations-right__form form .input-radio input[type="radio"] {
  display: none;
}
.donations-right__form form .input-radio label {
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
  border: 1px solid #ddd;
}
.donations-right__form form .input-radio label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin-right: 10px;
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
}
.donations-right__form
  form
  .input-radio
  input[type="radio"]:checked
  + label::before {
  display: none;
}
.donations-right__form form .input-radio input[type="radio"]:checked + label {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  color: #fff;
}
.donations-right__form form input,
.donations-right__form form textarea {
  border: 0;
  outline: 0;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 30px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.donations-right__form form input:focus,
.donations-right__form form textarea:focus {
  outline: 0;
  padding: 30px;
}
.donations-right__form form textarea {
  margin-bottom: 60px;
}

.contact {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .contact {
    padding: 60px 0;
  }
}
.contact-img {
  width: 100%;
  overflow: hidden;
}
.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-form {
  background-color: #f9f9f9;
  padding: 40px;
}
.contact-form form input,
.contact-form form textarea {
  border: 0;
  outline: 0;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
.contact-form form input:focus,
.contact-form form textarea:focus {
  outline: 0;
  padding: 30px;
}
.contact-form form textarea {
  margin-bottom: 60px;
}
.contact-form form .form-group {
  margin-bottom: 30px;
}

.map {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.map iframe {
  width: 100%;
  height: 100%;
}
